.vscode/
bin/
src/practica0/Ejercicio2.class
src/practica0/Ejercicio6.java
src/practica0/Ejercicio7.java
src/practica0/Ejercicio8.java
src/practica0/Ejercicio9.java
src/practica0/Ejercicio_10.java
src/practica0/Ejercicio_11.java
src/practica0/Ejercicio_12.java
src/practica0/Ejercicio_13.java
src/practica0/Ejercicio_14.java
src/practica0/Ejercicio_15.java
src/practica0/Ejercicio_16.java
src/practica0/Ejercicio_17.java
src/practica0/Ejercicio_18.java
src/practica0/Ejercicio_20.java
src/practica0/Ejercicio_20.class
src/practica0/Ejercicio_21.java
src/practica0/Ejercicio_22.java